﻿@model IEnumerable<Tites4Turner.Models.Title>

@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "titlesList"
}))
{ 
    <input type="search" name="searchTitle" />
    <input type="submit" value="Search Title by Name"/>
}

<div id="titlesList">
    @foreach (var title in Model)
    {
        <div>
            <h3><u>@title.TitleName</u></h3>
            <h4>
                @foreach (var otherName in title.OtherNames)
                {
                    if (otherName.TitleNameLanguage == "ENGLISH" && otherName.TitleName != title.TitleName)
                    {
                        @otherName.TitleName.ToString()<br />
                    }
                }
            </h4>
            <div><h4>Release Year:</h4> @title.ReleaseYear</div>
            <div>
                <h4>Awards Won:</h4>
                @if (title.Awards.Count == 0)
                {
                    <div>None.</div>
                }
                @foreach (var award in @title.Awards)
                {
                    if (award.AwardWon == true)
                    {
                        <div>@award.AwardCompany.ToString() - @award.Award1.ToString()</div>
                    }
                }
            </div>
        </div>
        <hr />
    }
</div>